[submodule "ProximityproReactFrontend"]
	path = ProximityproReactFrontend
	url = https://github.com/Amith-AG/ProximityproReactFrontend
[submodule "ProximityproSpringBackend"]
	path = ProximityproSpringBackend
	url = https://github.com/Amith-AG/ProximityproSpringBackend
